.page {
  display: flex;
  flex-direction: row;
  gap: 20px;

  padding: 30px;
}

.header {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 180px;
  height: 500px;

  >div {
    position: fixed;
    top: 160px;
    left: 30px;
    height: 300px;

    p {
      font-size: 12px;
      margin-bottom: 10px;
    }

    p.active {
      color: rgb(80, 20, 255);
      font-size: 16px;
      font-weight: 700;
    }
  }

}

.main {
  flex-grow: 1;

  h2 {
    margin-top: 80px;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 10px;
    word-break: keep-all;
  }
}
